body {
  background-color: #17497e;
  color: white;
}

a {
  text-decoration: none; 
  color: inherit;
}





.login-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #0f3255;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 22px;
}

.login-container input {
  padding: 10px;
  font-size: 18px;
  width: 250px;
  border-radius: 6px;
  border: none;
}

.login-container button {
  padding: 10px 20px;
  font-size: 18px;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}





.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 400px;
 
}

#bemVindo {
  font-size: 32px;
  font-family: Arial, sans-serif;
  white-space: nowrap;
  border-right: 3px solid black; /* cursor */
  overflow: hidden;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  
}


.parallax {
  background-image: url("img/numeros.jpg");
  height: 400px;

  background-attachment: fixed;  /* ESSA LINHA CRIA O PARALLAX */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  position: relative;
  display: flex;
  align-items: center; 
  justify-content: center;
  padding-top: 40px;
}

.conteudo {
  padding: 40px;
  background: #17497e;
  font-size: 20px;
}

.linguagens {
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  height: 280px;
}

.imagem {
  display: flex;
  align-items: center;
  justify-content: center;
}

#caixa {
  background: #f2f2f2;
  padding: 15px;
  border-radius: 10px;
  margin-top: 15px;
  color: black;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  background: #007bff;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}



.formulario {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: #0f3255;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
}

.formulario input {
  padding: 8px;
  border: none;
  border-radius: 5px;
}

#resultado {
  margin-top: 20px;
  background: #f2f2f2;
  padding: 15px;
  border-radius: 10px;
  width: 300px;
  color: black;
}